@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Oswald:wght@400;600&family=Space+Mono&display=swap');  

body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Space Mono', monospace;
}


video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}


.store a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  border: 1px solid white;
  right: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 20px;

}

.viewport-header {
  position: relative;
  text-align: center;
  z-index: 1;
  width: 50%;
  margin: 0px auto;
}
.logo img {
  margin-top: 60px;
}

.container h1 {
 margin: 20px 0 0 0;
 font-weight: bold;
 text-transform: uppercase;
 font-family: 'Montserrat';

}

.container h2 {
 margin: 0px 0 0 0;
 font-size: 16px;
 font-family: 'Montserrat';

}


.container-wod {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 10px 0;
  color: white;
  padding: 20px 10px;
  text-align: center;
  min-height: 200px;
}

.container .action {
  font-size: 12px;
  font-style: italic;
  color:#ffffff8a;
}

.btn-create {
  padding:10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(#4B50B9, #A1A4F8);
  background: linear-gradient(236deg, #4B50B9 0%, #A1A4F8 100%);
  border-radius: 10px;
  border: 0px;
  font-family: 'oswald';
  font-weight: 600;
  float: none;
  margin-top: 30px;
  cursor: pointer;
  letter-spacing: 1.5px;
}


.footer {
  position: fixed;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 20px;
  flex-shrink: 0;
}


.footer {
    text-align: center;
    width: 100%;
}
.footer img {float: left;}
.footer a {
  color: #F5F5F5;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding: 10px 5px;
  line-height: 2;
  text-decoration: none;

}


@media screen and (max-width: 1284px) {
  .viewport-header {
      width: 80% !important;
  }

.container .action, 
.store a,
.footer a   {
  font-size: 16px;
  }
.logo img {
  width: 35%;
}

.container h1 {
  font-size: 22px;
}

.container h2 {
  font-size: 20px;
}
.container-wod {
  min-height: 60%;
  font-size: 30px;
}
.btn-create {
  width: 60%;
  font-size: 20px;
}

}


1170

