  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');
body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px
}


video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}


.store {
  position: absolute;
  z-index: 2;
  border: 1px solid #ffffff8f;
  right: 2%;
  top: 2%;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px


}


.store  a {
  text-decoration: none;
  color: #ffffff8f;
  float: right;
  padding-left: 4px;
}
.store span {
    line-height: 16px;

}
.store  img {
  width: 24px;
  opacity: .8;
}

.viewport-header {
  position: relative;
  text-align: center;
  z-index: 1;
  width: 50%;
  margin: 0px auto;
}
.logo img {
  margin: 60px 0 20px 0;
}


.container h1 {
 margin: 20px 0 0 0;
 font-weight: 600;
 text-transform: uppercase;
 width: 100%;
 background-color: #ffffff1c;
 border-radius: 5px;

}

.container h2 {
 margin: 0px 0 0 0;
 font-size: 16px;
  font-weight: 600;

}


.container-wod {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 10px 0;
  color: white;
  padding: 10px;
  text-align: center;
  min-height: 200px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
  border-radius: 5px;

}

.container .action {
  font-size: 12px;
  font-style: italic;
  color:#ffffff8a;
}

.btn-create {
  padding:10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(#4B50B9, #A1A4F8);
  background: linear-gradient(236deg, #4B50B9 0%, #A1A4F8 100%);
  border-radius: 5px;
  border: 0px;
  font-weight: 900;
  float: none;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  letter-spacing: 1.5px;
  font-family: 'Montserrat';
}


.footer {
  z-index: 1;
  width: 100%;
  position: relative;
    text-align: center;

}

.footer a {
  font-size: 14px;
  color:#ffffff8a;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
  text-decoration: none;
  line-height: 12px;

}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .logo img {
      margin: 20% 0 20px 0;
  }
  
  .viewport-header {
    width: 90%; 
  }

  .container h1 {
    font-size: 24px; 
    margin-top: 0;
  }

  .container h2 {
    font-size: 14px; 
  }

  .container-wod {
    font-size: 18px; 
  }

  .btn-create {
    font-size: 18px; 
    width: 100%;
    padding: 20px 0;
  }
  .store {
    font-size: 12px;
  }
  .store a {
      line-height: 18px;
  }
  .store  img {
    width: 16px;
  }
}