@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Oswald:wght@400;600&family=Space+Mono&display=swap');  

body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px
}


video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}


.store a {
  color: white;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  border: 1px solid white;
  right: 2%;
  top: 2%;
  border-radius: 10px;
  padding: 0.5% 1%;
  font-size: 16px

}

.viewport-header {
  position: relative;
  text-align: center;
  z-index: 1;
  width: 50%;
  margin: 0px auto;
}
.logo img {
  margin: 60px 0 20px 0;
}

.container h1 {
 margin: 20px 0 0 0;
 font-weight: bold;
 text-transform: uppercase;
 font-family: 'Montserrat';

}

.container h2 {
 margin: 0px 0 0 0;
 font-size: 16px;
 font-family: 'Montserrat';

}


.container-wod {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 10px 0;
  color: white;
  padding: 20px 10px;
  text-align: center;
  min-height: 200px;
  font-size: 30px;
}

.container .action {
  font-size: 14px;
  font-style: italic;
  color:#ffffff8a;
}

.btn-create {
  padding:10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(#4B50B9, #A1A4F8);
  background: linear-gradient(236deg, #4B50B9 0%, #A1A4F8 100%);
  border-radius: 10px;
  border: 0px;
  font-family: 'oswald';
  font-weight: 600;
  float: none;
  margin-top: 30px;
  cursor: pointer;
  letter-spacing: 1.5px;
}


.footer {
  position: fixed;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 20px;
  flex-shrink: 0;
}


.footer {
    text-align: center;
    width: 100%;
}
.footer img {float: left;}
.footer a {
  color: #F5F5F5;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding: 10px 5px;
  line-height: 2;
  text-decoration: none;

}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .viewport-header {
    width: 90%; /* Reducimos el ancho del encabezado para que se ajuste en pantallas pequeñas */
  }

  .container h1 {
    font-size: 24px; /* Ajustamos el tamaño del título en pantallas pequeñas */
  }

  .container h2 {
    font-size: 14px; /* Ajustamos el tamaño del subtítulo en pantallas pequeñas */
  }

  .container-wod {
    font-size: 18px; /* Ajustamos el tamaño del contenido principal en pantallas pequeñas */
  }

  .btn-create {
    font-size: 18px; /* Ajustamos el tamaño del botón en pantallas pequeñas */
  }
}